.App {
  text-align: center;
}


.App-header {
  background-color: #222;
  height: 40px;

  color: white;
}

.App-headerUC {
  background-color: #ff7e00;
  height: 40px;

  color: yellow;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.navigation-modal{
    text-align: center;
}

.immap{
  display: -webkit-flex; /* Safari */
    -webkit-align-items: center; /* Safari 7.0+ */
    display: flex;
    align-items: center;
}

.table.tSkill{
  text-align: left;
}

.worldpanel{
  text-align: left;
  font-size: small;
}
